.content-box {
  background-color: rgb(250, 235, 215);; 
  padding: 20px;
  border-radius: 10px;
}

.home {
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: url("C:\Users\HP Elitebook\Desktop\PRODUCT_APP\client\src\image\server-4020_256.gif"); 
  text-align: center;
  -webkit-text-fill-color: blue; 
}
